html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.2;
}

small {
  font-size: 80%;
}
