#app {
  & > .el-container {
    min-height: 100vh;
  }
}

.el-container > .el-main {
  .align-center {
    text-align: center;
  }

  .coin-wrapper {
    display: inline-block;
    padding: 20px 0;
    text-align: center;
    color: inherit;
    width: 100%;
  }

  .coin-name {
    text-transform: uppercase;
    font-size: 16px;
  }
}

.el-main.home-view {
  padding-top: 0;

  .intro {
    margin-top: 0;
  }

  section.search {
    margin: 20px 0;
  }

  .el-card {
    margin-bottom: 20px;
  }
}

.el-main.detail-view {
  h3 {
    margin-top: 0;
  }

  .el-main {
    padding-top: 20px;
  }

  .coin-name {
    line-height: 70px;
  }

  .token-list {
    h3 {
      margin-bottom: 10px;
    }

    p {
      margin: 0;
      line-height: 1;
    }

    > .el-row {
      margin: 10px 0;
    }

    > .el-row > .el-col {
      line-height: 30px;
    }
  }
}
